aiofiles
aiohttp
apscheduler
asyncio
bard
beautifulsoup4
bing_image_downloader
bs4
cloudscraper
daxxhub
deepai
dnspython
emojis
ffmpeg-python
Faker
future==1.0.0
git+https://github.com/AsmSafone/SafoneAPI
git+https://github.com/doraemon890/pyrogram
git+https://github.com/yt-dlp/yt-dlp
gitpython
gpytranslate
gtts
hachoir
heroku3
httpx[http2]==0.27.0
img2pdf
instaloader
lexica-api
motor
MukeshAPI
mysql-connector-python==9.0.0
numpy
openai==0.28.0
opencv-python
pillow==9.5.0
pornhub-api==0.3.0
psutil
py-tgcalls==0.9.7
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
python-dotenv==1.0.1
python-telegram-bot==21.1.1
python-whois
pyshorteners
pyttsx3
pytube
pyyaml==6.0.1
qrcode
requests
SafoneAPI
search_engine_parser
speedtest-cli
SpeechRecognition
spotipy
stripe==10.7.0
telebot==0.0.5
telegraph
tgcrypto==1.2.5
unidecode
uvloop
wget
youtube_dl==2021.12.17
youtube-search
youtube-search-python
